body {
  background-color: rgb(195, 210, 219);
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

.ernesto {
  color: rgba(5, 35, 133, 0.5);
  font-size: 28px;
}
.tom {
  color: rgba(5, 35, 133, 0.5);
  font-size: 28px;
}

.p-color {
  color: rgba(5, 112, 116, 0.507);
  font-size: 18px;
}
.che-guevara {
  width: 800px;
  position: absolute;
  margin-left: 100px;
  margin: top 50px;
  text-align: justify;
}
.tom-hardy {
  width: 800px;
  position: relative;
  margin-left: 1000px;
  margin: top 50px;
  text-align: justify;
}
