body {
  background-color: rgba(48, 158, 226, 0.438);
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

.ernesto {
  color: rgba(7, 53, 204, 0.671);
  font-size: 28px;
  text-align: center;
}
.tom {
  color: rgba(7, 53, 204, 0.671);
  font-size: 28px;
  text-align: center;
}

.p-color {
  color: rgba(8, 129, 24, 0.774);
  font-size: 18px;
}
.che-guevara {
  width: 800px;
  position: absolute;
  margin-left: 100px;
  margin: top 50px;
  text-align: justify;
}
.tom-hardy {
  width: 800px;
  position: relative;
  margin-left: 1000px;
  margin: top 50px;
  text-align: justify;
}
.position {
  text-align: center;
}
